<h1>Create your peasant!</h1>
<form action="/peasants" method="post">
  <label for="new-peasant">Give it a Number:</label>
  <input id="new-peasant" name="new-peasant" type="text">
  <button type="submit">Create new peasant!</button>
</form>
