<h1>Welcome to Peasant Land!</h1>
<p>Are you a power hungry monster looking to control the life and wellbeing of others?</p>
<p>Our new simulation can quench your thirst for the Iron fist.</p>
<p><a href="/peasants">Click here</a> to start!</p>
